body {
    background-image: url('img/backgrounds/rtu-gb.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.topic
{
    margin: 5% 10%;
    background-color: #004add;
    padding: 30px;
    min-height: 350px;
}

.topic h1
{
    border-bottom: 10px solid #ffc001;
    bottom: 2em;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
}


.card {
  
    display: flex;
}

.card img {
    min-width: 300px;
    min-height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.announce_details
{
    width: auto;
    padding: 20px;
}

.subject-heading
{
    font-size: 30px;
    color: #ffc001;
    margin: 10px 0 20px 0;
    font-weight: bold;
}

.announcement-body
{

    text-align: left;
    color: white;
}

.timestamp-date
{
    text-align: right;
    padding: 20px 0 0 0;
    color: white;
}

.card  {
    margin-bottom: 10px;
}

.enlarged-image {
    position: fixed;
    top: 10%;
    left: 35%;
    width: 30%;
    height: 30%;
    object-fit: cover;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
}

.past-announce 
{
    background-color: rgba(255, 255, 255, 0.811);
    border-top: 5px solid #ffc001;
    padding: 20px;
}

.past-announcement
{
    display: flex;
    margin: 10px;
}

.past-announcement img
{
    max-height: 550px;
    max-width: 550px;
    min-height: auto;
    min-width: none;
}

.past-subject-heading
{
    color: #004add;
    padding: 0 0 10px 0;
    font-weight: bold;
}

.past-timestamp-date
{
    padding: 10px 0 0 0;
    font-weight: bold;
}

@media (max-width: 400px) {

    .topic 
    {
        display: flex;
        flex-wrap: wrap;
    }

    .topic h1
    {
        font-size: 16px;
        border-bottom: 5px solid #ffc001;
    }

    .announce_details
    {
    width: auto;
    padding: 5px;
    }

    .card
    {
        display: block;
    }

    .card img
    {
        min-height: 100px;
        min-width: 100px;
    }
    
    .subject-heading
    {
        font-size: 16px;
    }

    .announcement-body
    {
        font-size: 14px;
    }

    .timestamp-date
    {
        font-size: 14px;
        text-align: center;
    }

    .past-subject-heading, .past-announcement, .past-timestamp-date
    {
        font-size: 12px;
    }
}

@media (max-width: 768px) {

    .topic 
    {
        display: flex;
        flex-wrap: wrap;
    }

    .topic h1
    {
        font-size: 16px;
        border-bottom: 5px solid #ffc001;
    }

    .announce_details
    {
    width: auto;
    padding: 5px;
    }

    .card
    {
        display: block;
    }

    .card img
    {
        min-height: 100px;
        min-width: 100px;
    }
    
    .subject-heading
    {
        font-size: 16px;
    }

    .announcement-body
    {
        font-size: 14px;
    }

    .timestamp-date
    {
        font-size: 14px;
        text-align: center;
    }

    .past-subject-heading, .past-announcement, .past-timestamp-date
    {
        font-size: 12px;
    }
}
