*
{
    margin: 0;
    padding: 0;
}

.content
{
  background-color: white;
  padding: 25px;
}

h5
{
  color: #336090;
  font-size: 30px;
  padding: 0;
}

.volumes
{
  display: flex;
  flex-wrap: wrap;
}

.covers
{
  padding: 60px 80px;
}

.cover-page
{
  height: 300px;
  width: 200px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

@media screen and (max-width: 768px) {

  h5{
    font-size: 16px;
    text-align: center;
  }

  .cover-page
  {
    height: 150px;
    width: 100px;
    width: 100%;
  }

  .covers
  {
    padding: 23px;
  }
  
}



