*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: url('pictures/rtu.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content
{
  background-color: white;
  padding: 25px;
}

h5
{
  color: #336090;
  font-size: 30px;
}

.cover-page
{
  height: 450px;
  width: 300px;
  margin: 30px;
}

.cover-page:hover
{
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="search"]    
{
    margin: 20px;
    width: 75%;
    border: none;
    padding: 15px;
    border-bottom: 3px solid #265999;
}
  
  input[type="search"]::placeholder {
    color: #bbb;
  }

  @media screen and (max-width: 768px) {
    h5{
      font-size: 16px;
      text-align: center;
    }

    .cover-page
    {
      height: 350px;
      width: 250px;
      margin: 30px;
    }

    input[type="search"]    
    {
    margin: 10px;
    border-bottom: 2px solid #265999;
    width: 75%;
    padding: 5px;
    }
  }