
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Century Gothic', 'FontAwesome';
  }
  
  .container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display:grid ;
    grid-template-columns: 1fr 1fr;
    grid-row-gap:1em;
    padding: 2em;
  }
  
  .slide-container{
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
  .slide-form-area{
    position: relative;
    width: 27em;
    height:30em ;
    background-color: green;
    margin-right: 5em;
    border-radius: 10px;
    overflow: hidden;
    border: solid 2px rgb(59, 59, 59);
    box-shadow: 2px 2px rgb(114, 113, 113);
  }
  
  .slide-form{
    position: absolute;
    display: flex;
    left: 0%;
    width: 600%;
    height: 100%;
    background-color: orange;
    animation: slide;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    transition: 1s;
  }
  
  .slide-form div{
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .covers{
    width: 100%;
    height: 100%;
  }
  
  @keyframes slide{
    0%   {left:0%;}
    10%	{left:0%;}
    20%	{left:-100%;}
    30%	{left:-100%;}
    40%	{left:-200%;}
    50%	{left:-200%;}
    60%	{left:-300%;}
    70%	{left:-300%;}
    80%	{left:-400%;}
    90%{left:-400%;}
    100%{left:-500%;}
  }
  
  .wrap-container{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    min-height: 50vh;
  }
  .wrapper{
    /* background-color: red; */
      border: solid 2px rgb(59, 59, 59);
      overflow: hidden;
      max-width: 420px;
      padding: 30px;
      border-radius: 5px;
      margin-left: 5em;
      height: 30em;
      box-shadow: 2px 2px rgb(145, 144, 144);
  }
  
  .wrapper .title-text{
    display: flex;
    width: 200%;
  }
  .wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border-radius: 5px;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #002057;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup{
    color: #000;
  }
  .slide-controls .slider-tab{
      position: absolute;
      height: 10%;
      width: 50%;
      left: 0;
      bottom: 0;
      z-index: 0;
      border-radius: 5px;
      transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
      background: linear-gradient(to right, #002057, #302b63, #24243e);
  }
  
  input[type="radio"]{
    display: none;
  }
  #signup:checked ~ .slider-tab{
    left: 50%;
  }
  #signup:checked ~ label.signup{
      color: #002057;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login{
    color: #000;
  }
  #login:checked ~ label.signup{
    color: #000;
  }
  #login:checked ~ label.login{
    cursor: default;
    user-select: none;
  }
  .wrapper .form-container{
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  .form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .form-inner form .field input:focus{
    border-color: #203A43;
     box-shadow: inset 0 0 3px #203A43;
    ;
    /* box-shadow: inset 0 0 3px #fb6aae; */
  }
  .form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  }
  .form-inner form .pass-link{
    margin-top: 5px;
  }
  .form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
    color: #002057;
    text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: linear-gradient(to right, #002057, #302b63, #24243e);
    border-radius: 5px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  @media screen and (max-width: 1024px) {
      .container{
        display: flex;
        flex-direction: column;
      }
  
      .wrap-container{
        order: 1;
      }
      .slide-container{
        order: 2;
      }
      .slide-container,.wrap-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
      }
  
      .slide-container{
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: red; */
      }
  
      .slide-form-area{
        margin: 0;
      }
      .slide-form div{
        background-color: orange;
      }
      .wrapper{
        margin:0;
      }
  }
    @media screen and (max-width: 600px) {
     
      .container{
        padding: .25em;
      }
    }