*
{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('img/backgrounds/rtu-gb.png');
    background-attachment: fixed;
    background-size: cover;
}

.publication-header
{
    margin: 20px;
    text-align: center;
    color: white;
}



.publication-ethics
{
    text-align: center;
    color: white;
    padding: 0 10%;
    margin: 5% 8%;
}

.short-intro
{
    margin: 0 0 10px 0;
}

.sub-headers{
    border-left: 6px solid #ffc001 ;
    padding: 10px;
    margin: 20px 5px;
}

.ethics_content
{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.responsibility_header{
    background-color: rgba(255, 255, 255, 0.784) ;
    border-top: 3px solid #ffc001;
    padding: 50px;
}

h2
{
    color:  #265999 ;
    border-left: 5px solid #ffc001;
    padding: 10px 10px;
}

h4{
  font-size: 18px;
  margin-top: 20px;
  padding: 10px;
  border-bottom: 3px solid #265999;
}

p
{
    font-size: 16px;
    text-align: left;
    padding: 20px 30px 20px 30px;
}

li
{
  font-size: 16px;
  text-align: left;
  padding: 20px 30px 0 30px;
}

.card {
    width: 400px; /* Adjust the width as needed */
    perspective: 1000px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    color: black;
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
  }
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    display: none;
  }
  
  .card.flipped .card-front {
    transform: rotateY(-180deg);
  }
  
  .card.flipped .card-back {
    transform: rotateY(0deg);
    display: block;
  }
  
  .card-content {
    height: 70px; /* Adjust the height to control the shortened text display */
    font-size: 15px;
    overflow: hidden;
    padding: 30px;
  }
  
  .full-text {
    margin-top: 10px;
    font-size: 15px;
    padding: 30px;
  }
  
  .learn-more-button, .go-back-button {
    display: block;
    margin-top: 10px;
    background-color: #ffc001;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  .card h3 {
    font-size: 18px;
    transition: font-size 0.5s;
  }
  
  .card.flipped h3 {
    font-size: 14px;
  }
