@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
	--primary: #002057;
	--secondary: #bfc0c0;
	--white: #D9D9D9;
	--text-clr: #5b6475;
	--header-clr: #25273d;
	--next-btn-hover: #8577d2;
	--back-btn-hover: #8b8c8c;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
	font-family: 'Inter';
}

body{
	background: white;
	color: var(--text-clr);
	font-size: 16px;
	position: relative;
}

.wrapper{
	width: 900px;
	max-width: 100%;
	background: var(--white);
	margin: 50px auto 0;
	padding: 50px;
	border-radius: 5px;
	box-shadow: 0 5px 5px 0 black;
}
/* progress bar */
.wrapper .header1{
	margin-bottom: 35px;
	display: flex;
	justify-content: center;
}

.wrapper .header1 .progress-bar{
	display: flex;
}

.wrapper .header1 .progress-bar li{
	margin-right: 50px;
	position: relative;
}

.wrapper .header1 .progress-bar li:last-child{
	margin-right: 0;
}

.wrapper .header1 .progress-bar li:before{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 55px;
	width: 100%;
	height: 2px;
	background: var(--secondary);
}

.wrapper .header1 .progress-bar li:last-child:before{
	display: none;
}

.wrapper .header1 .progress-bar li div{
	padding: 5px;
	border-radius: 50%;
}

.wrapper .header1 .progress-bar li p{
	width: 50px;
	height: 50px;
	background: var(--secondary);
	color: var(--white);
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	border: #002057;
}

.wrapper .header1 .progress-bar li.active:before{
	background: var(--primary);
}

.wrapper .header1 .progress-bar li.active p{
	background: var(--primary);
}

h2
{
	text-align: center;
	color: black;
	padding: 30px;
}

/*button */
label
{
	display: block;
	margin: 5px 0 ;
	font-size: 15px;
	color: black;
	font-weight: bold;
}

input[type='text'], input[type='date'], input[type='email'], input[type='password'],select 
{
	background: none;
	border: none;
	border-bottom: 2px solid #002057;
	width: 100%;
	font-size: 15px;
}

.fullname , .contact, .address-part1, .address-part2, .qualification-list ,.affiliation-list
{
	display: flex;
	justify-content: space-between;
	margin: 20px 10px;
}

.contact .input_wrap .input, .address-part1 .input_wrap .input, .address-part2 .input_wrap .input
{
	width: 100%;
}


.input_wrap
{
	margin: 20px 10px;
	width: 100%;
}

.discipline-listing
{
	column-count: 2;
	margin: 40px 20px;
}

/* button */
.wrapper .btns_wrap{
	width: 350px;
	max-width: 100%;
	margin: 0 30%;
}

.wrapper .btns_wrap .common_btns{
	display: flex;
	justify-content: space-between;
}

.wrapper .btns_wrap .common_btns.form_1_btns{
	justify-content: flex-end;
}

.wrapper .btns_wrap .common_btns button{
	border: 0;
	padding: 12px 15px;
	background: var(--primary);
	color: var(--white);
	width: 135px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 16px;
	border-radius: 3px;
	transition: 0.5s ease;
	cursor: pointer;
}

.wrapper .btns_wrap .common_btns button.btn_back{
	background: var(--secondary);
}

.wrapper .btns_wrap .common_btns button.btn_next .icon{
	display: flex;
	margin-left: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_back .icon{
	display: flex;
	margin-right: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_next:hover,
.wrapper .btns_wrap .common_btns button.btn_done:hover{
	background: var(--next-btn-hover);
}

.wrapper .btns_wrap .common_btns button.btn_back:hover{
	background: var(--back-btn-hover);
}

.modal_wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.modal_wrapper .shadow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: 0.2s ease;
}

.modal_wrapper .success_wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-800px);
	background: var(--white);
	padding: 50px;
	align-items: center;
	border-radius: 5px;
	transition: 0.5s ease;
}

.personal_info
{
	column-count: 2;
}

.modal_wrapper.active{
	visibility: visible;
}

.modal_wrapper.active .shadow{
	opacity: 1;
}

.modal_wrapper.active .success_wrap{
	transform: translate(-50%,-50%);
}

.submit
{
	padding: 10px;
	background-color: #002057;
	color: white;
}

@media (max-width: 400px){
	
	h2
	{
		font-size: 16px;
		padding: 10px;
		margin: 10px;
	}

	.wrapper
	{
		padding: 15px;
	}

	.wrapper .header1 .progress-bar li 
	{
		margin-right: 14px;
		position: relative;
	}

	.fullname, .contact, .address-part1, .address-part2, .qualification-list, .affiliation-list {
		display: block;
	}

	.wrapper .btns_wrap 
	{
		margin: 0;
	}

	label
	{
		font-size: 15px;
	}

	.discipline-listing 
	{
		column-count: 1;
		margin: 5px;
		font-size: 15px;

	}

	.personal_info
	{
		column-count: 1;
	}
}