*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content-body
{
  margin: 5%;
}

.contentWrapper {
  position: relative;
  height: 87vh;
  width: 85vw;
  margin: 0;
  padding-left: 1.0570824524312896vh;
}
/* .outerdiv {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
} */

.text {
  position: relative;
  display: inline-block;
  top: -30%;
}
.box {
  display: flex;
  position: relative;
  top: 50px;
  width: 82.9vw;
  margin-inline: auto;
  height: 17.5vh;
  background-color: white;
  margin: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
  justify-content: space-between;
}
.box:nth-child(odd) {
  background-color: #d9d9d9;
}

.searchDrop {
  /* background-color: blueviolet; */
  position: Relative;
  top: 50px;
  right: 8px;
  display: flex;
  justify-content: space-around;
}

.search-bar {
  display: flex;
  position: relative;
  left: 10px;
  align-items: center;
  border: 2px solid #002057;
  /* border-radius: 5px; */
  padding-left: -5px;
  /* border: 1px; */
  background-color: white;
  width: 45vw;
  height: 4vh;
}

.search-bar input[type="text"] {
  border: none;
  outline: none;
  font-size: 16px;
  margin-left: 10px;
  width: 42vw;
}

.search-bar button {
  position: Relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-top: 5px;
  padding-left: 10px;
  margin-left: 10px;
  left: -10px;
}

.search-bar button img {
  width: 1vw;
  height: 2vh;
}

select {
  border-radius: 0px;
  background-color: white;
  border: 2px solid #002057;
  width: 37vw;
  height: 4vh;
}

.btn
{
  background-color: #002057;
  color: white;
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 200px;
  margin: 5px;
}

table
{
  width: 100%;
  border-collapse: collapse;
}

table td{
  border-bottom: solid 1px #7B7878; 
}

table .data
{
  width: 90%;
  height: 100px;
  padding: 20px;

}
