*{
    padding: 0;
    margin: 0;
  }
  .content-body
  {
    margin: 5% 1% 0 1% ;
  }
  
  .summary
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.5em;
  }

  .summary > .count-summary
{
  width: 49%;
  padding: 1%;
  box-shadow: 0 5px 5px 0 black;
}

.count-summary
{
  background-color: #002057;
  color: white;
  border-radius: 10px 10px;
}

.summary > .count-progress
{
  width: 18%;
  box-shadow: 0 5px 5px 0 black;
}

.count-progress
{
  color: white;
  border-radius: 10px;
}

.text-label
{
  text-align: center;
  background-color: #002057;
  padding: 1em;
  border-radius: 10px 10px 0 0;
}

.count-number
{
  text-align: center;
  padding: 1em;
  background-color: white;
  color: black;
  border-radius: 0 0 10px 10px;
}

.count
{
  font-size: 1.5em;
  text-align: end;
}

.author-label
{
  float: right;
  font-size: 1.5em;
}
  
  .filter
  {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: none;
  
  }
  
  select
  {
    border: none;
    background: #D9D9D9;
    border-radius: 10px;
  }
  
  .header
  {
    padding: 10px;
    background-color: #ffc001;
  }
  
  a
  {
      text-decoration: none;
      display: inline-block;
      color: black;
  }
  
  
  .accept
  {
      background-color: green;
      color: white;
  }
  
  .decline
  {
      background-color: red;
      color: white;
  }

.assign
{
  display: none;
  background-color: rgba(0, 0, 0, 0.60);
  color: black;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99999;
}

.form
{
  margin: 10%;
  background-color: white;
}

.form-body
{
  margin: 10px;
}

.filtered-reviewer
{
  margin: 20px;
}

.assign-btn
{
  background-color:#002057;
  color: white;
  display: block;
  width: 100%;
}

.publish-form
{
  display: none;
  background-color: rgba(0, 0, 0, 0.60);
  color: black;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99999;
}

.publish-details
{
  background-color: white;
  margin: 5% 30%;
}


.new-publish-header
{
  background-color: #002057;
  color: white;
  font-size: 1em;
  padding: 2em;
}

.publish-form-body
{
  padding: 30px;
}

.subject, .description, .attachment
{
  margin: 10px;
}

.subject-input, .textarea-input, .attachment
{
  padding: 5px;
}

.textarea-input
{
  height: 5em;
  resize: none;
}

.authorprofile
{
  display: none;
  background-color: rgba(0, 0, 0, 0.60);
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99999;
  width: auto;
}

.card
{
  background-color: #002057;
  margin: 2.5% 25%;
  width: 50%;
}

.author_photo
{
  background-color: #002057;
  border: none;
  width: max-content;
}

.seal{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 0 0 60px;
}

.logo
{
  top: 0;   
}

.author{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #ffc001;
  position: absolute;
  z-index: 9999;
  top: 10%;
  left: 38%;

}

.author_table {
  padding: 15% 10% 10% 10%;
  border-collapse: collapse;
  background-color: white;
}

.author_details {
  word-wrap: break-word;
}

.author_details td {
  padding: 10px;
}


  
  
  
  
  
  
  
  