.button-box {
	width: 100%;
	margin:  auto;
	position: relative;
	border-radius: 10px;
	background: #d9d9d9;
    display: flex;
    justify-content: space-around; 
}

.toggle-btn {
    padding: 20px 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
    display: flex;
    color: white;
    text-align: center;
    
}

#btn {
	left: 0;
	top: 0;
	position: absolute;
	width: 50%;
	height: 100%;
	background: #002057;
	border-radius: 10px;
	transition: .5s;
}