*{
  padding: 0;
  margin: 0;
}

.content-body
{
  margin: 5% 1% 0 1% ;
}

.title
{
  width: 90%;
  text-align: left;
  padding: 1em;
}

.action
{
  width: 10%;
}

.form .grid {
  margin-top: 10px;
  margin-bottom: 10px;
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  gap:20px;
}

.form .grid .form-element {
  width:300px;
  height: 150px;
}
.form .grid .form-element input {
  display:none;
}
.form .grid .form-element img {
  width:100%;
  height:100%;
  object-fit:cover;
  
}
.form .grid .form-element div {
  position:relative;
  height:40px;
  margin-top:-40px;
  background:rgba(0,0,0,0.5);
  text-align:center;
  line-height:40px;
  font-size:13px;
  color:#f5f5f5;
  font-weight:600;
}
.form .grid .form-element div span {
  font-size:40px;
}

input[type="text"] 
{
  width: 100%;
}

textarea
{
    width: 100%;
    height: 45%;
}

input[type="submit"], .add-announcement
{
    background-color: #ffc001;
    padding: 10px;
    border: none;
    color: white;
    width: 120px;
}
.post-btn
{
  background-color: #ffc001;
  padding: 10px;
  border: none;
  color: white;
  width: 120px;
}

.close-btn
{
  cursor: pointer;
  background-color: white;
  border: 2px solid #002057;
  border-radius: 10px;
  color:#002057;
  padding: 10px;
  width: 120px;
}

.announcements
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.new_announcements textarea
{
  height: 100px;
  resize: none;
  overflow-y: scroll;
}

table
{
  width: 100%;
  text-align: left;
}

.announcement-form
{
  display: none;
  background-color: rgba(0, 0, 0, 0.60);
  color: black;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99999;
}

.announcement-details
{
  background-color: white;
  margin: 5% 30%;
}


.new-announcement-header
{
  background-color: #002057;
  color: white;
  font-size: 1em;
  padding: 2em;
}

.announcement-form-body
{
  padding: 30px;
}

.subject, .description, .attachment
{
  margin: 10px;
}

.subject-input, .textarea-input, .attachment
{
  padding: 5px;
}

.textarea-input
{
  height: 5em;
  resize: none;
}

table
{
  border-collapse: collapse;
  table-layout: fixed;
}

th
{
  background-color: #002057;
  padding: 5px;
  color: white;
}

.past-announcements th
{
  background-color: #ffc00157;
  padding: 5px;
  color: black;
}

td
{ 
  padding: 10px 5px;
  word-wrap: break-word;
}

tr
{
  border-bottom: 1px solid #ddd;
}

.post-btn
{
  background-color: #002057;
  border-radius: 10px;
}

.drag-area {
	width: 100%;
	height: 160px;
	border-radius: 5px;
	border: 2px dashed #002057;
	color: #002057b7;
	font-size: 0.9rem;
	font-weight: 500;
	position: relative;
	background: #dfe3f259;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	-webkit-user-select: none;
	margin-top: 10px;
}

.drag-area .visible {
	font-size: 15px;
  text-align: center;
}
.select {
    color: #5256ad;
	margin-left: 5px;
	cursor: pointer;
	transition: 0.4s;
}

.select:hover {
	opacity: 0.6;
}

.container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	max-height: 200px;
	overflow-y: auto;
	margin-top: 10px;
}

.container .image {
	width: calc(26% - 19px);
	margin-right: 15px;
	height: 75px;
	position: relative;
	margin-bottom: 8px;
}

.container .image img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.container .image span {
	position: absolute;
	top: -2px;
	right: 9px;
	font-size: 20px;
	cursor: pointer;
}

/* dragover class will used in drag and drop system */
.drag-area.dragover {
	background: rgba(0, 0, 0, 0.4);
}

.drag-area.dragover .on-drop {
	display: inline;
	font-size: 28px;
}

input[type="file"],
.drag-area .on-drop, 
.drag-area.dragover .visible {
	display: none;
}